.tab-scroll-view {
    flex-grow: 1;
    padding-right: 10px;
}

.section-container {
    background-color: var(--unity-colors-default-background);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    border-width: 1px;
    border-color: var(--unity-colors-app_toolbar-border);
}

.section-header {
    font-size: 14px;
    -unity-font-style: bold;
    color: var(--unity-colors-label-text);
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-color: var(--unity-colors-app_toolbar-border);
}

.welcome-screen {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--unity-colors-window-background);
    padding: 40px;
}

.welcome-title {
    font-size: 24px;
    -unity-font-style: bold;
    color: var(--unity-colors-label-text);
    margin-bottom: 10px;
}

.welcome-subtitle {
    font-size: 16px;
    color: var(--unity-colors-warning-text);
    margin-bottom: 20px;
}

.welcome-desc {
    font-size: 14px;
    color: var(--unity-colors-label-text);
    -unity-text-align: middle-center;
    white-space: normal;
    width: 80%;
}

.welcome-path {
    font-size: 13px;
    -unity-font-style: italic;
    color: #4CAF50;
    margin-top: 5px;
    margin-bottom: 30px;
}

.setup-btn {
    font-size: 16px;
    -unity-font-style: bold;
    background-color: #2E6A31;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    border-width: 0;
    transition-duration: 0.2s;
}

.setup-btn:hover {
    background-color: #3E8E41;
}
.library-container {
    flex-grow: 1;
    display: flex;
}

.audio-list-view {
    flex-grow: 1;
    margin-top: 10px;
    border-radius: 6px;
    border-width: 1px;
    border-color: var(--unity-colors-app_toolbar-border);
}

.audio-entry-card {
    background-color: var(--unity-colors-default-background);
    border-radius: 6px;
    padding: 8px;
    margin: 4px;
    border-width: 1px;
    border-color: var(--unity-colors-app_toolbar-border);
}

.audio-entry-header {
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.audio-id-field {
    flex-grow: 1;
    margin-right: 10px;
}

.icon-btn {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    -unity-font-style: bold;
    border-width: 0;
}

.play-btn {
    background-color: #2E6A31;
    color: white;
}

.play-btn:hover {
    background-color: #3E8E41;
}

.stop-btn {
    background-color: #8E3030;
    color: white;
    margin-left: 5px;
}

.stop-btn:hover {
    background-color: #B33D3D;
}

.audio-entry-foldout {
    margin-top: 5px;
}

.sliders-container {
    margin-top: 10px;
    padding-top: 10px;
    border-top-width: 1px;
    border-top-color: var(--unity-colors-app_toolbar-border);
}